  <!-- filter and search -->
  <div class="filter-row">
    {{input value=start class="search float-left" id="search-origin" placeholder="Start Location"}}
    {{input value=end class="search float-left" id="search-destination" placeholder="End Location"}}
    <button class="button small float-left" id="submit-button" type="submit" {{action 'buildQuery'}}>Search</button>
  </div>

  <!-- mapbox -->
  <div id="map"></div>

  {{yield}}
