{{#fixed-nav-bar}}
  <div class="logo-section"> 

    {{#link-to "index"}}
      <img src="assets/images/xy_nav_clear_x_bike_power_blue.png" 
      class="logo-image"></img>
    {{/link-to}}

  </div>
{{/fixed-nav-bar}}
<!-- Display Map -->
<div class="map-canvas">
  {{map-container mySites=filteredSites waypoints=route range=range search="search"}}
</div>
